# data & weights
data/
runs/
*.pt
*.onnx
*.engine
*.cache

# python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/
.venv/
.env

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
